* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
}

#banner {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(111, 108, 241);
    color: white;
    position: fixed;
    top: 0;
    width: 800px;
}

#banner-placeholder {
    height: 100px;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#middle {
    overflow: hidden; /* Clear floats */
}

#nav {
    width: 150px;
    background-color: rgb(175, 234, 240);
    padding: 20px 10px;
    position: fixed;
    top: 100px;
}

#nav-placeholder {
    width: 150px;
    height: 1000px;
    float: left;
    background-color: rgb(175, 234, 240);
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    margin: 20px 0;
}

#nav a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

#content {
    width: calc(100% - 150px - 250px);
    height: 1000px;
    float: left;
    background-color: rgb(73, 146, 255);
    padding: 20px;
}

#content section {
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    color: white;
}

#supporting {
    width: 250px;
    height: 1000px;
    float: left;
    background-color: rgb(166, 238, 249);
    padding: 20px;
}

#footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: skyblue;
    color: white;
    clear: both;
}
