* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
}

#banner {
    height: 100px;
    line-height: 80px; /* 100px - 外層 padding 5px×2 - .text-container padding 5px×2 */
    text-align: center;
    background-color: rgba(111, 108, 241, 0.8);
    color: white;
    position: fixed;
    top: 0;
    width: 800px;
}

#banner-placeholder {
    height: 100px;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

.container {
    overflow: hidden; /* Clear floats */
}

#nav {
    width: 150px;
    background-color: rgb(175, 234, 240);
    position: fixed;
    top: 100px;
}

#nav-placeholder {
    width: 150px;
    height: 1000px;
    float: left;
    background-color: rgb(175, 234, 240);
}

#content {
    width: calc(100% - 150px - 250px);
    height: 1000px;
    float: left;
    background-color: rgb(73, 146, 255);
}

#content section {
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    color: white;
}

#supporting {
    width: 250px;
    height: 1000px;
    float: left;
    background-color: rgb(166, 238, 249);
}

#footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: skyblue;
    color: white;
    clear: both;
}

/* 8. Box model: 修改<li>的margin與padding */
ul {
    padding-left: 0;
}

li {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    background-color: lightgray;
}

li:hover {
    background-color: rgb(136, 180, 107);
}

ul a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

/* 8. Box model: Padding */
#content, #nav, #supporting, #banner {
    padding: 5px;
}

.text-container {
    padding: 5px;
}

/* 8. Box model: 超鏈結捲動修正 */
section {
    scroll-margin-top: 100px;
}
